<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homePageStyle.css">
    <link rel="icon" href="/images/pandaicon.png" type="image/x-icon">
    <script src="/JS/homepageData.js"></script>
    <title>AnJoYi Home Cooking</title>
</head>

<body>
    <div class="header">
        <div class="logo">
            <div class="logoBox"><img src="/images/main_logo.png" class="logoIcon"></div>
        </div>
        <div class="homeButton hoverHome">
            <div class="homeButtonBox"><a class="homeButtonText">HOME</a></div>
        </div>
    </div>
    <div class="content">
        <div class="background">
            <div class="backgroundText"><a style="padding-left: 16px">Enjoy your cooking time!</a></div>
        </div>
        <div class="categoriesBox">
            <div class="categories">
                <div class="pasta hover" data-index="1">
                    <div class="categiryPicture"><img src="/images/pasta_logo1.png"></div> <!-- circle/icon -->
                    <div class="categoryText"><a>Pasta</a></div> <!-- text -->
                </div>
                <div class="redmeat hover" data-index="2">
                    <div class="categiryPicture"><img src="/images/redmeat_logo1.png"></div> <!-- circle/icon -->
                    <div class="categoryText"><a>Red meat</a></div> <!-- text -->
                </div>
                <div class="chicken hover" data-index="3">
                    <div class="categiryPicture"><img src="/images/chicken_logo1.png"></div> <!-- circle/icon -->
                    <div class="categoryText"><a>Chicken</a></div> <!-- text -->
                </div>
                <div class="salads hover" data-index="4">
                    <div class="categiryPicture"><img src="/images/salad_logo1.png"></div> <!-- circle/icon -->
                    <div class="categoryText"><a>Salads</a></div> <!-- text -->
                </div>
                <div class="seafood hover" data-index="5">
                    <div class="categiryPicture"><img src="/images/seafood_logo1.png"></div> <!-- circle/icon -->
                    <div class="categoryText"><a>Seafood</a></div> <!-- text -->
                </div>
                <div class="sushi hover" data-index="6">
                    <div class="categiryPicture"><img src="/images/sushi_logo1.png"></div> <!-- circle/icon -->
                    <div class="categoryText"><a>Sushi</a></div> <!-- text -->
                </div>
                <div class="vegetarian hover" data-index="7">
                    <div class="categiryPicture"><img src="/images/vegetarian_logo1.png"></div> <!-- circle/icon -->
                    <div class="categoryText"><a>Vegan</a></div> <!-- text -->
                </div>
                <div class="finnishFood hover" data-index="8">
                    <div class="categiryPicture"><img src="/images/finnish_logo1.png"></div> <!-- circle/icon -->
                    <div class="categoryText"><a>Finnish food</a></div> <!-- text -->
                </div>
                <div class="armenianFood hover" data-index="9">
                    <div class="categiryPicture"><img src="/images/armenian_logo1.png"></div> <!-- circle/icon -->
                    <div class="categoryText"><a>Armenian food</a></div> <!-- text -->
                </div>
                <div class="chineseFood hover" data-index="10">
                    <div class="categiryPicture"><img src="/images/chinese_logo1.png"></div> <!-- circle/icon -->
                    <div class="categoryText"><a>Chinese food</a></div> <!-- text -->
                </div>
            </div>
        </div>




        <div class="recipes">
            <div class="recipesRows">
               
             
            </div>
        </div>




    </div>
    <div class="footer">
        <div class="footerLogo">
            <div class="pandaLogo"><img src="/images/main_logo.png"></div>
        </div>
        <div class="footerContent">
            <div class="downloadButtons" style="width: 25%">
                <div class="footerheaders">Download the app</div>
                <div class="apple knopkadownload hoverButton">
                    <div class="appleicontext">
                        <img src="/images/iphone.png" id="appleicon">
                        <div class="text">
                            <div>Download on the</div>
                            <div class="big">App Store</div>
                        </div>
                    </div>
                </div>
                <div class="android knopkadownload hoverButton">
                    <div class="androidicontext">
                        <img src="/images/google.png" id="androidicon">
                        <div class="text">
                            <div>Get it on</div>
                            <div class="big">Google Play</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="joinUs" style="width: 25%">
                <div class="footerheaders">Join us</div>
                <div class="footerText" style="margin-top: 30px">For recipes</div>
                <div class="footerText" style="margin-top: 12px">For Design</div>
                <div class="footerText" style="margin-top: 12px">For the jobs</div>
            </div>
            <div class="helpCenter" style="width: 25%">
                <div class="footerheaders">Help center</div>
                <div class="footerText" style="margin-top: 30px">Website connection failed</div>
                <div class="footerText" style="margin-top: 12px">Recipe guide</div>
                <div class="footerText" style="margin-top: 12px">Suggestions for us</div>
            </div>
            <div class="Contact" style="width: 25%">
                <div class="footerheaders">Contact</div>
                <div class="contactbuttons">
                    <img src="/images/facebook.png" class="contactIcons" style="width: 40px">
                    <img src="/images/insgram.png" class="contactIcons" style="width: 40px">
                    <img src="/images/Twitter.png" class="contactIcons" style="width: 40px">
                    <img src="/images/Wechat.png" class="contactIcons" style="width: 40px">
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="copyrightcontent">
            <div class="copyrighttext">Copyright</div>
            <div><img src="/images/copyright.png" id="copyrighticon"></div>
            <div class="copyrighttext">AnJoYi 2020-2021. All rights reserved.</div>
        </div>
    </div>

</body>

</html>