<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/infoPageStyle.css">
</head>

<body>
    <div class="header">
        <div class="logo">
            <div class="logoBox"><img src="/images/main_logo.png" class="logoIcon"></div>
        </div>
        <div class="homeButton hoverHome" onclick="window.location.href= '/';return false">
            <div class="homeButtonBox"><a class="homeButtonText">HOME</a></div>
        </div>
    </div>
    <div class="content">
        <div class="backButtonBox">
            <div class="backButton" onclick="window.location.href= '/';return false">
                <div class="backButtonStyle">
                    <a>BACK</a>
                </div>
            </div>
        </div>
        <div class="bigInfoBoxStyle">
            <div class="bigInfoBox">
                <div class="pictureBox">
                    <img src="{{recipe.picture}}" style="width: 100%; height:100%; border-radius: 10px;">
                </div>
                <div class="restInfo">
                    <div class="titleTimeLevel">
                        <div class="title">
                            <a>{{recipe.foodname}}</a>
                        </div>
                        <div class="timeAndDifficultyLevel">
                            <div class="time">
                                <a>Time:</a>
                                <a>
                                    {{recipe.times}}
                                </a>
                            </div>
                            <div class="difficultyLevel">
                                <a>Difficulty level:</a>
                                <a>
                                    {{recipe.levels}}
                                </a>
                            </div>
                        </div>
                        <div class="showShoppingList">
                            <a>Generate ingredients and shopping lists</a>
                        </div>
                    </div>
                    <div class="shoppingList">
                        {{@ recipe.shoppinglist}}
                    </div>
                </div>
            </div>
        </div>
        <div class="guideBox">
            <div class="guide">
                <div class="guideStyle">
                    <a>Guide:</a><br>
                    <a>
                        {{@ recipe.guide}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footerLogo">
            <div class="pandaLogo"><img src="/images/main_logo.png"></div>
        </div>
        <div class="footerContent">
            <div class="downloadButtons" style="width: 25%">
                <div class="footerheaders">Download the app</div>
                <div class="apple knopkadownload hoverButton">
                    <div class="appleicontext">
                        <img src="/images/iphone.png" id="appleicon">
                        <div class="text">
                            <div>Download on the</div>
                            <div class="big">App Store</div>
                        </div>
                    </div>
                </div>
                <div class="android knopkadownload hoverButton">
                    <div class="androidicontext">
                        <img src="/images/google.png" id="androidicon">
                        <div class="text">
                            <div>Get it on</div>
                            <div class="big">Google Play</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="joinUs" style="width: 25%">
                <div class="footerheaders">Join us</div>
                <div class="footerText" style="margin-top: 30px">For recipes</div>
                <div class="footerText" style="margin-top: 12px">For Design</div>
                <div class="footerText" style="margin-top: 12px">For the jobs</div>
            </div>
            <div class="helpCenter" style="width: 25%">
                <div class="footerheaders">Help center</div>
                <div class="footerText" style="margin-top: 30px">Website connection failed</div>
                <div class="footerText" style="margin-top: 12px">Recipe guide</div>
                <div class="footerText" style="margin-top: 12px">Suggestions for us</div>
            </div>
            <div class="Contact" style="width: 25%">
                <div class="footerheaders">Contact</div>
                <div class="contactbuttons">
                    <img src="/images/facebook.png" class="contactIcons" style="width: 40px">
                    <img src="/images/insgram.png" class="contactIcons" style="width: 40px">
                    <img src="/images/Twitter.png" class="contactIcons" style="width: 40px">
                    <img src="/images/Wechat.png" class="contactIcons" style="width: 40px">
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="copyrightcontent">
            <div class="copyrighttext">Copyright</div>
            <div><img src="/images/copyright.png" id="copyrighticon"></div>
            <div class="copyrighttext">AnJoYi 2020-2021. All rights reserved.</div>
        </div>
    </div>
    <script>
        let showShoppingListButton = document.querySelector('.showShoppingList');
        let shoplist = document.querySelector('.shoppingList');
        showShoppingListButton.onclick = function() {
            shoplist.style.display = 'block';
        }
    </script>
</body>

</html>